<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input id="APR" type="text" name="users_apr" placeholder="Eg 5.42">
  </div>
  <div>
      <label for="number_of_years">Number of years</label>
      <input id="number_of_years" type="text" name="users_number_of_years" placeholder="How many years to repay?">
  </div>
  <div>
      <label for="principle">Principal</label>
      <input id="principle" type="text" name="users_principle" placeholder="How much principle?">
  </div>
  <button>calculate monthly payment</button>
</form>
