<h1>Square Root Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @user_min%>
  </dd>
</dl>

<dl>
  <dt>
    Maximum
  </dt>
  <dd>
    <%= @user_max%>
  </dd>
</dl>

<dl>
  <dt>
    Random Number
  </dt>
  <dd>
    <%= @random%>
  </dd>
</dl>
<a href="/random/new">Calculate another random number</a>
